
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.topo {
    background-color: #00a0e4;
    padding: 10px 0;
    text-align: center;
}

.paralax img{
    width: 100%;
}

.paragrafo-topo {
    margin: 0;
}

.link-topo {
    color: white;
    margin: 0 15px;
    font-size: 18px;
}


.bv, .Contato {
    padding: 20px;
    max-width: 800px;
    margin: auto;
}

h1 {
    color: #007BFF;
    font-size: 24px;
    padding-bottom: 10px;
}

p {
    font-size: 18px;
    line-height: 1.6;
}

.bv img {
    width: 100%;
    height: auto;
    margin: 20px 0;
}

.Contato a {
    display: inline-block;
    font-size: 18px;
    color: white;
    text-decoration: none;
    margin: 10px 0;
    background-color: #00a0e4;
    padding: 10px 20px;
    border: 5px;
}

.Contato a{
    background-color: #007BFF;
}

.Contato p {
    margin: 0 0 10px;
}
